.container {
  padding: 10px;
  text-align: center;
  max-width: 400px;
  margin: auto;
}

.title {
  font-size: 1.2em;
  color: #c3aaaa;
}

.result-box {
  margin-top: 30px;
}

.result-box,
.no-result {
  display: none;
}

.result-box.show,
.no-result.show {
  display: block;
}

.error-msg {
  color: $darkred;
}

.full-width {
  width: 100%;
}