$grey: #AAAAAA;
$black: #333333;
$darkred: #8B0000;
$cornflowerblue: #6495ED;

html, body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  padding: 10px;
  text-align: center;
  max-width: 400px;
  margin: auto;
}

table {
  margin: auto;
  margin-bottom: 30px;
}

label {
  float: left;
}

table,
table th,
table td {
  border: 1px solid $grey;
}

.result-box {
  margin-top: 30px;
}

.result-box,
.no-result {
  display: none;
}

.result-box.show,
.no-result.show {
  display: block;
}

.error-msg {
  color: $darkred;
}

.loading-status-blue {
  color: $cornflowerblue;
  font-size: 26px;
}

.loading-status-red {
  color: $darkred;
  font-size: 20px;
}