html, body {
  font-family: Arial, Helvetica, sans-serif
}

.container {
  padding: 10px;
  text-align: center;
  max-width: 400px;
  margin: auto;
}

table {
  margin: auto;
  margin-bottom: 30px;
}

label {
  float: left;
}

table,
table th,
table td {
  border: 1px solid #aaa;
}

.result-box {
  margin-top: 30px;
}

.result-box,
.no-result {
  display: none;
}

.result-box.show,
.no-result.show {
  display: block;
}

.error-msg {
  color: red;
}

.loading-status-blue {
  color: cornflowerblue;
  font-size: 26px;
}

.loading-status-red {
  color: red;
  font-size: 20px;
}