html, body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.container {
  padding: 10px;
}

table,
table th,
table td {
  border: 1px solid #aaa;
}

.result-box,
.no-result {
  display: none;
}

.result-box.show,
.no-result.show {
  display: block;
}